@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: white;

}

.nav-link {
    color: #19345E !important;

}

.btnNav {
    border-radius: 20px !important;
    padding: 8px 30px;
    color: #F47522 !important;
    border-color: #F47522 !important;
}


.hero {

    position: relative;
    height: 100vh;
    background-color: #EDF6FF;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    color: #19345E;
}

.imageHero img{
    width: 358px;
    margin-left: 50px !important;
}
.teksAltera {
    margin-top: 40% !important;
}

.title span {

    color: #F47522;
}

.btnHero{
    color: white;
    border-radius: 20px;
    background-color: #F47522;
    padding: 8px 30px;
}

.btnHero span{
    content: url(../img/sport-team.png);
    width: 20px;
    height: 20px;
    margin-right: 10px;
   
}

.btnHero:hover{
    color: #F47522;
    background-color: #ffffff;
}

.btnHero span:hover{
    content: url(../img/sport-team-hover.png);
   
}

#feature .container-fluid{
    width: 60%;
    height: 150px;
   
}
#feature .row{
   border-radius: 50px;
   height: 100px;
   box-shadow: 1px 7px 14px -3px rgba(0,0,0,0.66);

}

#feature .image{
    background-color: #F47522;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

#feature img{
    width: 30px;

}


.teksAbout {
    position: relative;
    color: #19345E;
    margin-top: 50px;
  }
  
  .teksAbout:before,
  .teksAbout:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 50px; 
    border-bottom: 1px solid #F47522; 
    border-bottom-width: 2px;
  }
  
  .teksAbout:before {
    right: 100%;
    margin-right: 10px; 
  }
  
  .teksAbout:after {
    left: 100%;
    margin-left: 10px; 
  }

  
  .image-overlay {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-top: 50px;
  }
  
  .overlay-image {
    width: 100%;
    height: auto;
  }
  .overlay-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #19345ef6; 
    opacity: 0.5;
  }
  .overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  
  