@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;

}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: white;

}

.nav-link {
  color: #19345E !important;

}

.nav-link:hover {
  color: #F47522 !important;

}

.btnNav {
  border-radius: 20px !important;
  padding: 8px 30px;
  color: white !important;
  background-color: #F47522 !important;
}

.btnNav:hover {
  color: #F47522 !important;
  background-color: #ffffff !important;
  border-color: #F47522 !important;
}

.navbar-toggler {

  background-color: #F47522;
}

#team .container-fluid {
  margin-top: 100px;
}

#team {
  background-image: url(../img/ornament_batik.png);
  background-size: 230px;
  background-position: start;
  background-repeat: no-repeat;
  color: #19345E;
}

.teksAbout {
  position: relative;
  color: #19345E;
  margin-top: 50px;
}

.teksAbout:before,
.teksAbout:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 50px;
  border-bottom: 1px solid #F47522;
  border-bottom-width: 2px;
}

.teksAbout:before {
  right: 100%;
  margin-right: 10px;
}

.teksAbout:after {
  left: 100%;
  margin-left: 10px;
}


.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.image {
  width: 300px;
  height: auto;
  box-shadow: 1px 7px 14px -3px rgba(0, 0, 0, 0.66);
}

.border-custom {
  position: absolute;
  margin-top: 30px;
  margin-right: 40px;
  width: 300px;
  height: 360px;
  border: 10px solid #F47522;

}

.border-custom-middle {
  position: absolute;
  margin-top: 30px;
  margin-right: 40px;
  width: 300px;
  height: 360px;
  border: 10px solid #19345E;

}

.table {
  margin-top: 50px;
  color: #19345E;
}

.table th,
.table td {
  border: none;
  /* text-align: center; */
}

.col-1 {
  width: 20px;
}

.col-2 {
  width: 2px;
}

.col-3 {
  width: 20px;
}

.dotted-line {

  border: none;
  border-top: 2px dotted #000;
  width: 90%;
}

@media (max-width: 991px) {
  .image-container {
    justify-content: center;
  }

  ul {
    margin-left: 0px;
  }
}

ul {
  margin-left: 20px;
}

ul .list-2,
.list-3 {
  list-style-type: none;
}

.list-2 {
  font-weight: bold;
}

ul .calendar {
  width: 15px;
  margin-right: 5px;
}



/* css footer */
footer {
  background-color: #163050;
  width: 100%;
  height: 150px;
  margin-top: 50px;
}

.container-footer {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
  padding: 10px;
}

.container-footer .alta img {
  margin-left: 60px;
  margin-top: 30px;
  height: 65px;
}

.container-footer .medsos {
  font-family: system-ui;
  color: #ffffff;
  padding-top: 5px;
}

.container-footer .medsos img {
  width: 40px;
  padding: 8px 8px;
}

.container-footer .copyright {
  font-family: system-ui;
  color: #ffffff;
  padding-top: 45px;
}

/* Tampilan responsif footer untuk tampilan browser */
@media (min-width: 992px) {
  .container-footer {
    gap: 50px;
    padding: 10px;
  }

  .container-footer .alta img {
    margin-left: 60px;
    margin-top: 30px;
    height: 65px;
  }

  .container-footer .medsos {
    padding-top: 5px;
  }

  .container-footer .medsos img {
    width: 40px;
    padding: 8px 8px;
  }
}
/* Tampilan responsif footer untuk tampilan tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .container-footer {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    padding: 3px;
  }

  .container-footer .alta img {
    margin-top: 30px;
    height: 45px;
    margin-left: 50px;
  }

  .container-footer .medsos img {
    width: 25px;
    padding: 5px 5px;
    font-size: 10px;
  }

  .container-footer .copyright {
    font-family: system-ui;
    color: #ffffff;
    padding-top: 45px;
    font-size: 15px;
  }
}

/* Tampilan responsif footer untuk tampilan handphone */
@media (max-width: 767px) {
  .container-footer {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    padding: 3px;
  }

  .container-footer .alta img {
    margin-top: 30px;
    height: 40px;
    margin-left: 10px;
  }

  .container-footer .medsos img {
    width: 25px;
    padding: 5px 5px;
    font-size: 10px;
  }

  .container-footer .copyright {
    font-family: system-ui;
    color: #ffffff;
    padding-top: 45px;
    font-size: 10px;
  }
}
